In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

## Request get html page

In [2]:
res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

## Get table content using BeautifulSoup

In [4]:
soup = BeautifulSoup(res.content, "html")
table = soup.find_all('table')

# Html table to pandas dataframe

In [28]:
df = pd.read_html(str(table[0]))[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [29]:
#Remove record where Borough=Not assigned from fataframe

In [31]:
df = df.query('Borough != "Not assigned"')
df.Borough.value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
East York            5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [32]:
df.shape

(103, 3)